
@{ Layout = "~/Views/Shared/_LT_Admin.cshtml";
    ViewBag.Title = "Presupuestos"; }

<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card">
        <div class="body">
            <div class="table-responsive">
                <table class="table table-striped m-b-0">
                    <thead>
                        <th>ID</th>
                        <th>Solicitud</th>
                        <th>Proveedor</th>
                        <th>Responsable</th>
                        <th>Fecha<br/>Creación</th>
                        <th>Fecha<br/>Expiración</th>
                        <th>Acción</th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
