<!--==========================
  About Us Section
============================-->
<section id="about">
    <div class="container">
        <header class="section-header">
            <h3>Acerca de </h3>
            <p>Empresa dedicada a la elaboración de un sistema de información que maximice la labor operativa en las empresas, generando confiabilidad y competitividad en el mercado .</p>
        </header>

        <div class="row about-cols">

            <div class="col-md-4 wow fadeInUp">
                <div class="about-col">
                    <div class="img">
                        <img src="img/mision1.png" alt="" class="img-fluid">
                        <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                    </div>
                    <h2 class="title"><a href="#">Misión</a></h2>
                    <p>
                        Aportamos al desarrollo humano integral de nuestros usuarios.
                    </p>
                </div>
            </div>

            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="about-col">
                    <div class="img">
                        <img src="img/visio1}.png" alt="" class="img-fluid">
                        <div class="icon"><i class="ion-ios-eye-outline"></i></div>
                    </div>
                    <h2 class="title"><a href="#">Visión</a></h2>
                    <p>
                        En el año 2025 Sercompra será reconocida por ser una organización sostenible e innovadora.
                    </p>
                </div>
            </div>

            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="about-col">
                    <div class="img">
                        <img src="img/objetivo1.png" alt="" class="img-fluid">
                        <div class="icon"><i class="ion-ios-list-outline"></i></div>
                    </div>
                    <h2 class="title"><a href="#">Objetivo</a></h2>
                    <p>
                        sistema de información para gestionar el proceso de registro y compra a proveedores.
                    </p>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- #about -->