<!--==========================
    Intro Section
  ============================-->
<section id="intro">
    <div class="intro-container" >
        <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

            <ol class="carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <div class="carousel-item active">
                    <div class="carousel-background"><img src="~/Content/assets/Landing/img/intro-carousel/1.jpg" alt=""></div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Agilidad en el servicio</h2>
                            <p>Ofrecemos el mejor servicio para tu empresa que esta dispuesta a ser estratégicamente competitiva en el mercado.</p>

                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="carousel-background"><img src="~/Content/assets/Landing/img/intro-carousel/2.jpg" alt=""></div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Sistema multifuncional</h2>
                            <p>Sistema de información ágil que garantizará el fácil acceso a compañias, control y excelencia en el servicio.</p>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="carousel-background"><img src="~/Content/assets/Landing/img/intro-carousel/3.jpg" alt=""></div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>¿Por qué es la mejor aplicación para tu negocio?</h2>
                            <p>Concepción de utillidad entre las partes de beneficio mutuo que busca favorecer y acreditar a las partes interesadas.</p>
                        </div>
                    </div>
                </div>

            </div>

            <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    </div>
</section>
<!-- #intro -->