 <!--==========================
      Featured Services Section
    ============================-->
    <section id="featured-services">
        <div class="container">
            <div class="section-header">
                <h3>Servicios</h3>
                <p>Nuestros Servicios para usted</p>
            </div>

            <div class="row">

                <div class="col-lg-4 box">
                    <i class="ion-ios-bookmarks-outline"></i>
                    <h4 class="title"><a href="">Optimización de tiempos</a></h4>
                    <p class="description">Reducción en gastos operacionales</p>
                </div>

                <div class="col-lg-4 box box-bg">
                    <i class="ion-ios-stopwatch-outline"></i>
                    <h4 class="title"><a href="">Servicio garantizado</a></h4>
                    <p class="description">Satisfacción de cliente y respuesta oportuna</p>
                </div>

                <div class="col-lg-4 box">
                    <i class="ion-ios-heart-outline"></i>
                    <h4 class="title"><a href="">Agilidad y facilidad</a></h4>
                    <p class="description">Sistema de información dinámico</p>
                </div>

            </div>
        </div>
    </section><!-- #featured-services -->